button {
    background-color: $main-color;
    color: white;
    border: none;
    width: 200px;
    height: 55px;
    font-size: 15px;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: lighten($color: $main-color, $amount: 10%);
    }
}